@import url("http://fonts.googleapis.com/css?family=Telex");
body {
  font-family: 'Telex', sans-serif;
  font-weight: 400;
}
.file_upload .img_upload_option {
  text-align: center;
  padding-top: 6px;
}
.file_upload .img_upload_progress {
  margin-top: 24px;
}
.file_upload .img_upload_submit {
  margin-top: 12px;
}
